.App {
  text-align: center;
}

.Header-logo {
  height: 60px;
}

.Header {
  background-color: #222;
  height: 80px;
  color: white;
}

.Header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3% 0px 0px;
}

.Header-brand {
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.Header-subtitle {
    margin: 0;
    color: white;
}

.Header-controls {
    display: flex;
    width: 140px;
    align-items: center;
    justify-content: space-around;
}

h2 {
    margin: 0;
    color: white;
}

.App-intro {
  font-size: large;
  color: white;
  background-color: #111;
  padding-top: 14px;
  margin: 0;
  height: 40px;
}

.modal {
  position: relative;
  overflow: hidden;
}